{% extends "base.html" %}

{% load ratings_tags %}
{% load tagging_tags %}

{% block content %}
<div class="well">
<p>
<a href="/flow/">Back to the list of my flows</a>
{% if user.is_authenticated %}
/ <a href="/flow/edit/{{ flow.id }}/">Edit</a>
/ <a href='/flow/delete/{{ flow.id }}'>Delete</a>
{% endif %}
</p>

<h4>{{ flow.title }}</h4>
by <a href="{% url userena_profile_detail user.username %}">{{ flow.user }}</a> on {{ flow.creation_date }}

<br />
<table>
	<tr>
		<th>Description</th>
		<th>Overall Rating</th>
	</tr>

	<tr>
		<td>
			{{ flow.description }}
			<br />
			URL: <a href="{{ flow.url }}">{{ flow.url }}</a>
		</td>
		
		<td>
			{% get_rating_score for flow as score %}
			{% if score %}
			Average score: {{ score.average|floatformat }}
			Number of votes: {{ score.num_votes }}
			{% else %}
			{{ flow }} is not yet voted
			{% endif %}
		</td>
	</tr>
</table>
<b>Tags:</b>
{% for tag in flow.get_tags %}
<a href="/tag/{{ tag.name|slugify }}/" alt="{{ tag }}" title="{{ tag }} tag">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}
{%endfor%}
<br />
<b>Rate this flow</b>
{% get_rating_form for flow as rating_form %}
<form action="{% url ratings_vote %}" method="POST">
{% csrf_token %}
{{ rating_form }}
<p><input type="submit" value="Rate this flow"></p>
</form>
</div>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}